{% extends 'base.html' %}

{% block content %}

<div class="row">
    {% for item in data %}
    <div class="col-lg-6">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ item['image'] }}" alt="{{ item['name'] }}" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">{{ item['name'] }}</h3>
                        <p class="card-text">Current Price: {{ item['price'] }}</p>
                        <a href="{{ item['link'] }}" class="btn btn-primary">Link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
