{% extends 'base.html' %}

{% block content %}
    <h1>Products</h1>
    <div class="product-grid">
        <div class="left-products">
            <h2>Ebay Products</h2>
            <div class="product-list">
                {% for product in ebay_data %}
                    <div class="product" id="{{ product[0] }}">
                        <h3>{{ product[1] }}</h3>
                        <img src="{{ product[2] }}" alt="{{ product[1] }}" height="150">
                        <p class="price">{{ product[3] }}</p>
                        <a href="{{ product[4] }}" class="btn">View Item</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="right-products">
            <h2>Zappos Products</h2>
            <div class="product-list">
                {% for product in zappos_data %}
                    <div class="product" id="{{ product[0] }}">
                        <h3>{{ product[1] }}</h3>
                        <img src="{{ product[2] }}" alt="{{ product[1] }}" height="150">
                        <p class="price">{{ product[3] }}</p>
                        <a href="{{ product[4] }}" class="btn">View Item</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
<!-- Optional: jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-yAZRERQQzqD40C7hMm9/3hXs1g7Z0HlOc0Sri2OIZd6AOMnsVZ8CB9vsk7r59TuA" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>